.descr-container {
    width: 1300px;
    margin: 0 auto;
    height: 100vh;
}

.descr-header__counter {
    margin-top: 51px;
    display: flex;
}
.dish-block__product {
    display: block;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
}
  
.dish-block__price {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
}

.descr-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
 
.descr-main {
    background: url(../../public/images/backgraund.png) no-repeat;
    background-size: cover;
}
